/* frontend\src\Page\WelcomePage\WelcomePage.css */

.welcomepage-container {
    background-color: lightgray; /* Fallback color */
    background-image: url('../../assets/Picture/homepage_1.jpg');
    background-size: cover;
    background-position: center;
    height: 675px; 
    width: 352px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomepage-title {
    color: #052122;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;
    padding-bottom: 300px;
}

.welcomepage-button {
    background-color: #052122;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}