/* frontend/src/Page/CreateEventPage/CreateEventPage.css
Container for the entire page */
.createeventpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Back button styling */
.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 24px;
}

.back-button a {
  text-decoration: none;
  color: #333;
}

/* Form styling */
.create-event-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative; /* Added to create a positioning context for suggestions */
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
  position: relative; /* Ensure each form group is positioned relative to the parent */
}

/* Label styling */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Activity options styling */
.activity-options {
  display: flex;
  justify-content: space-between;
}

/* Input field styling */
input[type="text"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Suggestions list styling */
.suggestions-list {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  max-height: 150px; /* Adjust the height as needed */
  overflow-y: auto;
  position: absolute; /* This ensures it appears directly below the input */
  width: 100%; /* Ensures the width matches the input field */
  z-index: 1000;
  top: 100%; /* Place directly below the input */
  left: 0;
}

/* Suggestion item styling */
.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

/* Submit button styling */
.submit-button {
  background-color: #48AEE1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2C425A;
}
