/* frontend\src\Page\NotFoundPage\NotFoundPage.css */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #343a40;
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

.home-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.home-button:hover {
  background-color: #0056b3;
}