.loginpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.loginpage-container .icon {
    max-width: 100px; 
    margin-bottom: 10px;
}

.loginpage-container .table {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 80%; /* Ensure the table takes full width within the container */
    max-width: 100%; /* Set a maximum width for the form */
}

.loginpage-container .table-title {
    color: #052122;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 30px;
}

.loginpage-container .lable {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.loginpage-container .user-detail input {
    width: 268px; /* Makes the input take up full width of its container */
    height: 30px; /* Adjust the height of the input */
    padding: 5px; /* Adds padding inside the input */
    font-size: 13px; /* Adjust the font size */
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px; /* Adds space below each input */
}

.loginpage-container .btn {
    width: 280px; 
    padding: 10px;
    background-color: #052122; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.forgot {
    width: 280px; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.loginpage-container .btn:hover {
    background-color: #0a2b2e; 
}
