.loginpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.loginpage-container .icon {
    max-width: 100px; 
    margin-bottom: 10px;
}

.loginpage-container .table {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    max-width: 100%;
}

.loginpage-container .table-title {
    color: #052122;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 30px;
}

.loginpage-container .lable {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

/* Ensure consistency in the appearance of all input elements */
.loginpage-container .user-detail input {
    width: 100%; /* Full width of the container */
    height: 40px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
}

.loginpage-container .btn {
    width: 100%; /* Ensure the button takes the same width as inputs */
    padding: 10px;
    background-color: #052122; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.forgot {
    width: 100%; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.loginpage-container .btn:hover {
    background-color: #0a2b2e; 
}
