/* frontend\src\Page\MapScreen\MapScreen.css */

.mapscreen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.mapscreen-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.mapscreen-container .back {
    position: absolute;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.mapscreen-container h2 {
    margin: 0;
}

.mapscreen-container .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 280px; /* Ensures the container takes full width */
    padding: 0 10px; /* Adds padding to the sides of the container */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.mapscreen-container .search {
    width: 100%; /* Makes the input take full width of its container */
    height: 30px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    background-color: rgba(165, 161, 161, 0.15);
    border-radius: 10px;
    margin-right: 5px;
    color: #000;
}

.mapscreen-container .search::placeholder {
    color: #000;
    opacity: 1;
}

.mapscreen-container .search-icon {
    font-size: 25px;
}

.mapscreen-container .table {
    font-size: 13px; /* Sets the font size */
    color: #A7A2A2; /* Sets the text color */
    padding: 10px; /* Adds padding around the content */
}

.suggestions-list {
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: none; /* Remove the fixed height to avoid the scroll bar */
    position: absolute;
    z-index: 1000;
    width: calc(100% - 16px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 38px;
}
  
.suggestions-list li {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.suggestions-list li:hover {
    background-color: #f0f0f0;
}
  
.search-container {
    position: relative;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-info img {
  height: 24px; /* Set a fixed height */
  width: 24px; /* Set a fixed width */
  margin-left: 8px; /* Add some spacing between text and icon */
}

.attribution {
  font-size: 8px; /* Small font size for subtle appearance */
  text-align: center;
  margin-top: 20px;
  color: #aaa; /* Light gray color to blend into the background */
}

.attribution a {
  color: #aaa; /* Match the link color with the text for subtlety */
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline; /* Only underline on hover */
}