/* frontend\src\Page\WeatherPage\WeatherPage.css */

.weatherpage-container {
    padding: 20px;
}
  
.header-container {
    display: flex;
    align-items: center;
}
  
.back {
    font-size: 24px;
    margin-right: 30px;
}
  
h2 {
    font-size: 24px;
    margin: 0;
}
  
.week-table {
    display: table;
    width: 100%;
    margin: 60px 0;
    margin-bottom: 100px;
    text-align: center;
}
  
.week-days,
.week-dates {
    display: table-row;
}
  
.day,
.date {
    display: table-cell;
    padding: 10px;
    font-size: 16px;
}
  
.date.active {
    position: relative;
    background-color: #48AEE1;
    color: white;
    width: 30px; /* Adjusted width for a smaller circle */
    height: 30px; /* Adjusted height for a smaller circle */
    border-radius: 50%;
    line-height: 30px; /* Adjusted line-height to match the smaller size */
    margin: 0 auto;
}
  
.weather-container {
    text-align: center;
    margin-top: 20px;
}
  
.weather-container p {
    margin: 5px 0;
}

.weather-info {
  display: flex;
  align-items: center;
  margin-top: 4px; /* Optional: Add space between temperature and condition */
}

.weather-info img {
  height: 24px; /* Adjust the height to match your design */
  width: 24px;  /* Ensure the icon has a fixed width and height */
  margin-left: 8px; /* Add some space between the text and the icon */
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px; /* Add space between forecast days */
}

