/* frontend\src\Page\WeatherPage\WeatherPage.css */

.weatherpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Adjust the table layout for shorter dates and longer weather info */
.weatherpage-container .vertical-weather-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 100px;
}

.weatherpage-container .forecast-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.weatherpage-container .forecast-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.weatherpage-container .day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.weatherpage-container .day {
  font-size: 16px;
  margin-bottom: 5px;
}

.weatherpage-container .date {
  font-size: 16px;
}

.weatherpage-container .date.active {
  background-color: #48AEE1;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.weatherpage-container .temperature {
  font-size: 18px;
  font-weight: bold;
}

.weatherpage-container .weather-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
}

.weatherpage-container .weather-info img {
  height: 40px;
  width: 40px;
}


/* Attribution styling */
.weatherpage-container .attribution {
  font-size: 8px;
  text-align: center;
  margin-top: 20px;
  color: #aaa;
}

.weatherpage-container .attribution a {
  color: #aaa;
  text-decoration: none;
}

.weatherpage-container .attribution a:hover {
  text-decoration: underline;
}
